<div class="alignright">
  <button class="btn btn-primary" value="Logout" (click)="logout()">Logout</button>
  </div>
  
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/adminlistaccounts']">List All Accounts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/search']">Search Account By Name</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/search-account']">Search Account By Account Number</a>
  </li>
 </ul>
 <img src="assets/img/sindications.jpg" height="512" width="1356" alt="Admin image">
