<div class="jumbotron">
  <div class="container">
  <div class="col-md-6 offset-md-3">
  <form [formGroup]="passwordForm" (ngSubmit)="update()">

  <div class="form-group">
  <label class="asterisk">Enter Your Old Password</label>
  <input type="text" formControlName="oldpassword" class="form-control" [ngClass]="{'is-invalid':submitted && f.oldpassword.errors}">
  <div *ngIf="submitted && f.oldpassword.errors" class="invalid-feedback">
  <div *ngIf="submitted && f.oldpassword.errors.required">This is a required field</div>
  <div *ngIf="submitted && f.oldpassword.errors.pattern">Password must contain between 6 to 10 characters</div>
  </div>
  </div>
  
  <div class="form-group">
    <label class="asterisk">Enter Your New Password</label>
    <input type="text" formControlName="newpassword" class="form-control" [ngClass]="{'is-invalid':submitted && f.newpassword.errors}">
    <div *ngIf="submitted && f.newpassword.errors" class="invalid-feedback">
    <div *ngIf="submitted && f.newpassword.errors.required">This is a required field</div>
    <div *ngIf="submitted && f.newpassword.errors.pattern">Password must contain between 6 to 10 characters</div>
    </div>
  </div>
  
  <div class="form-group">  
  <button class="btn btn-primary" value="Submit" (click)="update()">Submit</button>
  </div>
  </form>
  
  </div>
  </div>
  </div>
  