<div class="jumbotron">
  <div class="container">
  <div class="col-md-6 offset-md-3">
  <form [formGroup]="searchaccntForm" (ngSubmit)="search()">


  <div class="form-group">
  <label class="asterisk">Enter Account Number</label>
  <input  type="text"  formControlName="accountNo"  class="form-control" [ngClass]="{'is-invalid': submitted && f.accountNo.errors}">
  <div *ngIf="submitted && f.accountNo.errors" class="invalid-feedback">
  <div *ngIf="f.accountNo.errors.required">Account Number is required</div>
                          
  </div>
  </div>

  <div class="form-group">
    <button class="btn btn-primary" value="Search" (click)="search()">Search</button>
  </div>

  </form>
  </div>
  </div>
  </div>
  